# Basic Python Types

This lesson covers:

* Inputting scalars and strings
* Lists
* Tuples
* Dictionaries

## Problem: Input scalar floating point and integers

1. Create a variable called `scalar_float` containing $\pi$ to 4 digits.
2. Create a variable called `scalar_int` containing 31415. 
3. Print each value using the `print` function.

In [1]:
scalar_float = 3.1415
scalar_int = 31415

print(scalar_float)
print(scalar_int)

3.1415
31415

## Problem: Create a string and an f-string

1. Create a variable called `a_string` containing `This is a string`
2. Create a f-string the prints `The value of scalar_float is 3.1415` using
   the variable created in the previous step
3. Create two string, `first` containing `String concatenation` and the
   second containing ` is like addition`, and join the two using `+` to produce
   `String concatenation is like addition`.

In [2]:
a_string = "This is a string"
# Either quote mark is fine, as long as they match
a_string = 'This is a string'

print(f"The value of scalar_float is {scalar_float}")
print(f"The value of scalar_int is {scalar_int}")

first = "String concatenation"
second = " is like addition"
print(first + second)

The value of scalar_float is 3.1415
The value of scalar_int is 31415
String concatenation is like addition

## Problem: Create a list

1. Create a list containing `scalar_float` and `scalar_int`
2. Add `a_string` to the list.
3. Select the second element from the list 
4. Select the the lst two elements of the list

In [3]:
a_list = [scalar_float, scalar_int]
print(a_list)
a_list.append(a_string)
print(a_list)

second_element = a_list[1]

end_of_a_list = a_list[1:]
other_wa = a_list[-2:]

[3.1415, 31415]
[3.1415, 31415, 'This is a string']

## Problem: Create a list of lists

1. Create a list containing the two lists `[1, 2, 3]` and `[4, 5, 6]`
2. Select the element 5 from the nested list

In [4]:
second_list = [[1, 2, 3], [4, 5, 6]]
second_row = second_list[1]
print(second_row)
number_5 = second_row[1]
print(number_5)
number_5_direct = second_list[1][1]
print(number_5_direct)

[4, 5, 6]
5
5

## Problem: Create a tuple

1. Create a tuple containing the values (1, 2.0, "c")
2. Select the element "c" from the tuple

In [5]:
tpl = (1, 2.0, "c")
c = tpl[2]
print(c)

c

## Problem: Convert a list to a tuple and back

1. Convert the list-of-lists created to a tuple-of-tuples
2. Convert the tuple-of-tuples back to a list of lists

In [6]:
second_tuple = (tuple(second_list[0]), tuple(second_list[1]))
print(second_tuple)
second_list = [list(second_tuple[0]), list(second_tuple[1])]
print(second_list)

((1, 2, 3), (4, 5, 6))
[[1, 2, 3], [4, 5, 6]]

## Problem: Create a dictionary

1. Create a dictionary containing the key-value pairs `"float"` and 3.1415,
   `"int"` and 31415, and `"string"` and `"three-point-one-four-one-five"`.

In [7]:
a_dict = {"float": 3.1415,
          "int": 31415,
          "string": "three-point-one-four-one-five"}
 
print(a_dict)

{'float': 3.1415, 'int': 31415, 'string': 'three-point-one-four-one-five'}

## Problem: Lookup and Change a value

1. Look up the value of `"float"`.
2. Change the value of `"float"` to `22 / 7`.

In [8]:
print(a_dict["float"])
a_dict["float"] = 22 / 7
print(a_dict["float"])

3.1415
3.142857142857143

## Problem: Add and remove a key 

1. Add the new key "better_float" with the value 3.141592.
2. Remove the key "float" and its value.

In [9]:
a_dict["better_float"] = 3.141592
print(a_dict)

del a_dict["float"]
print(a_dict)

{'float': 3.142857142857143, 'int': 31415, 'string': 'three-point-one-four-one-five', 'better_float': 3.141592}
{'int': 31415, 'string': 'three-point-one-four-one-five', 'better_float': 3.141592}

## Exercises

### Exercise: Manipulating lists

1. Create an empty list called `lst`
2. Add the elements `9`, `"Eight"` and `7.0` (in order) to the list.
3. Extend the list with the list `["Six", 5, 4.0]` using `extend`
4. Select first 4 elements of `lst`
5. Select last 3 elements of `lst`

In [10]:
lst = []
lst.append(9)
lst.append("Eight")
lst.append(7.0)
lst

[9, 'Eight', 7.0]

In [11]:
lst.extend(["Six", 5, 4.0])
lst

[9, 'Eight', 7.0, 'Six', 5, 4.0]

In [12]:
lst[0:4]

[9, 'Eight', 7.0, 'Six']

In [13]:
# Also works since selecting from the start of the list
lst[:4]

[9, 'Eight', 7.0, 'Six']

In [14]:
lst[3:6]

['Six', 5, 4.0]

In [15]:
# Also worse since selecting to end of the list 
lst[3:]

['Six', 5, 4.0]

In [16]:
# Also works with negative to select from the tail
lst[-3:]

['Six', 5, 4.0]

### Exercise: Dictionary Manipulation

1. Create a empty dictionary called `dct`
2. Add the pairs "apple" and 1, "banana" and 2.0, and "cherry" and "iii"
3. Replace the value of "apple" with "I"
4. Remove the entry for "banana"
5. Add an entry "date" with the value 4

In [17]:
dct = {}
dct

{}

In [18]:
dct["apple"] = 1
dct["banana"] = 2.0
dct["cherry"] = "iii"
dct

{'apple': 1, 'banana': 2.0, 'cherry': 'iii'}

In [19]:
dct["apple"] = "I"
dct

{'apple': 'I', 'banana': 2.0, 'cherry': 'iii'}

In [20]:
del dct["banana"]
dct

{'apple': 'I', 'cherry': 'iii'}

In [21]:
dct["date"] = 4
dct

{'apple': 'I', 'cherry': 'iii', 'date': 4}

### Exercise: Directly create a Dictionary

Using the final verion of `dct` from the previous exercise:

1. Directly initialize a new dictionary called `other_dct`.
2. Use an f-string to print the values associated with each key.

**Hint** You must use both types of quotes. For example, to access a value in
an f-string.

```python
f"{other_dct['apple']}"
```

In [22]:
other_dct = {"apple": "I", "cherry": "iii", "date": 4}
other_dct

{'apple': 'I', 'cherry': 'iii', 'date': 4}

In [23]:
print(f"apple: {other_dct['apple']}, cherry: {other_dct['cherry']}, date: {other_dct['date']}")

apple: I, cherry: iii, date: 4

### Exercise: Tuple Manipulation

1. Create a tuple `tpl` containing 100 and 4
2. Convert to a list, add the elements 101 and 5
3. Convert back toa tuple

In [24]:
tpl = (100, 4)
tpl

(100, 4)

In [25]:
tpl = list(tpl)
tpl.extend([101, 5])
tpl

[100, 4, 101, 5]

In [26]:
tpl = tuple(tpl)
tpl

(100, 4, 101, 5)