# Common DataFrame methods

This lesson introduces the common `DataFrame` methods that
we will repeatedly use in the course. 

This first cell load data for use in this lesson.

In [1]:
# Setup: Load prices
import pandas as pd
prices = pd.read_hdf("data/dataframes.h5", "prices")
sep_04 = pd.read_hdf("data/dataframes.h5", "sep_04")
goog = pd.read_hdf("data/dataframes.h5", "goog")
returns = prices.pct_change().dropna()
spy_returns = returns.SPY
aapl_returns = returns.AAPL
goog_returns = returns.GOOG

## Problem: Constructing portfolio returns

Compute the return of a portfolio with weight $\frac{1}{3}$ in each security using
multiplication (`*`) and `.sum()`.

**Note**: You need to use the `axis` keyword for the sum.

In [2]:
import numpy as np

w = np.ones(3) / 3
weighted_rets = returns * w
port_ret = weighted_rets.sum(axis=1)
port_ret

2018-05-09   -0.006002
2018-06-09   -0.010768
2018-07-09   -0.005218
2018-10-09   -0.003948
2018-11-09    0.013167
2018-12-09   -0.008176
2018-09-13    0.013609
2018-09-14   -0.004520
2018-09-17   -0.015325
2018-09-18    0.003850
2018-09-19   -0.002537
dtype: float64

## Problem: Compute the Mean and Standard Deviation

Using the function mean, compute the mean of the three returns series one at a time. For example  
```python
goog_mean = goog_returns.mean()
```
Next, compute the mean of the matrix of returns using  

```python
retmean = returns.mean()
```

What is the relationship between these two? Repeat this exercise for the standard deviation (`std()`).

In [3]:
goog_mean = goog_returns.mean()
spy_mean = spy_returns.mean()
aapl_mean = aapl_returns.mean()
print(spy_mean, aapl_mean, goog_mean)

0.0005157696449953846 -0.0046607598305810375 -0.0029096851629990942

In [4]:
returns.mean()

SPY     0.000516
AAPL   -0.004661
GOOG   -0.002910
dtype: float64

In [5]:
returns.std()

SPY     0.003562
AAPL    0.016113
GOOG    0.008899
dtype: float64

## Problem: Compute Correlation
Compute the correlation of the matrix of returns (`corr()`).

In [6]:
returns.corr()

           SPY      AAPL      GOOG
SPY   1.000000  0.773894  0.883557
AAPL  0.773894  1.000000  0.892719
GOOG  0.883557  0.892719  1.000000

## Problem: Summing all elements

Compute the sum of the columns of returns using `.sum()`. How is this related to the mean computed 
in the previous step?

In [7]:
returns.mean()

SPY     0.000516
AAPL   -0.004661
GOOG   -0.002910
dtype: float64

In [8]:
nobs = returns.shape[0]
returns.sum() / nobs

SPY     0.000516
AAPL   -0.004661
GOOG   -0.002910
dtype: float64

## Problem: Maximum and Minimum Values
Compute the minimum and maximum values of the columns of returns using the `min()` and `max()` commands.

In [9]:
returns.min()

SPY    -0.005294
AAPL   -0.026626
GOOG   -0.014055
dtype: float64

In [10]:
returns.max()

SPY     0.005914
AAPL    0.025283
GOOG    0.010922
dtype: float64

## Problem: Rounding Up, Down and to the Closest Integer

Rounding up is handled by ceil, rounding down is handled by floor and rounding to the closest 
integer is handled by round. Try all of these commands on 100 times returns. For example,  
```python
rounded = (100*returns).round()
``` 

Use `ceil` and `floor` to round up and down, respectively.

In [11]:
rounded = (100*returns).round()
rounded

            SPY  AAPL  GOOG
2018-05-09 -0.0  -1.0  -1.0
2018-06-09 -0.0  -2.0  -1.0
2018-07-09 -0.0  -1.0  -1.0
2018-10-09  0.0  -1.0  -0.0
2018-11-09  0.0   3.0   1.0
2018-12-09  0.0  -1.0  -1.0
2018-09-13  1.0   2.0   1.0
2018-09-14  0.0  -1.0  -0.0
2018-09-17 -1.0  -3.0  -1.0
2018-09-18  1.0   0.0   0.0
2018-09-19  0.0  -1.0  -0.0

In [12]:
ceiled = np.ceil(100*returns)
ceiled

            SPY  AAPL  GOOG
2018-05-09 -0.0  -0.0  -0.0
2018-06-09 -0.0  -1.0  -1.0
2018-07-09 -0.0  -0.0  -0.0
2018-10-09  1.0  -1.0  -0.0
2018-11-09  1.0   3.0   2.0
2018-12-09  1.0  -1.0  -1.0
2018-09-13  1.0   3.0   2.0
2018-09-14  1.0  -1.0  -0.0
2018-09-17 -0.0  -2.0  -1.0
2018-09-18  1.0   1.0   1.0
2018-09-19  1.0  -0.0  -0.0

In [13]:
floored = np.floor(100*returns)
floored

            SPY  AAPL  GOOG
2018-05-09 -1.0  -1.0  -1.0
2018-06-09 -1.0  -2.0  -2.0
2018-07-09 -1.0  -1.0  -1.0
2018-10-09  0.0  -2.0  -1.0
2018-11-09  0.0   2.0   1.0
2018-12-09  0.0  -2.0  -2.0
2018-09-13  0.0   2.0   1.0
2018-09-14  0.0  -2.0  -1.0
2018-09-17 -1.0  -3.0  -2.0
2018-09-18  0.0   0.0   0.0
2018-09-19  0.0  -1.0  -1.0

## Exercises

### Exercise: Compute Quantiles

Compute the 5%, 25%, 50%, 75% and 95% quantiles of momentum using the `quantile`
method.

In [14]:
# Setup: Load data
import pandas as pd
momentum = pd.read_csv("data/momentum.csv", index_col="date", parse_dates=True)
mom_10 = momentum.mom_10

In [15]:
momentum.quantile([.05, .25, .5, .75, .95])

,mom_01,mom_02,mom_03,mom_04,mom_05,mom_06,mom_07,mom_08,mom_09,mom_10
0.05,-2.487,-1.556,-1.326,-1.187,-1.128,-1.015,-1.116,-1.148,-1.198,-1.597
0.25,-0.615,-0.385,-0.305,-0.260,-0.210,-0.250,-0.280,-0.290,-0.330,-0.395
0.50,0.080,0.050,0.070,0.050,0.060,0.070,0.070,0.080,0.070,0.120
0.75,0.890,0.645,0.480,0.465,0.405,0.440,0.420,0.465,0.430,0.615
0.95,2.798,2.094,1.618,1.320,1.339,1.158,1.164,1.230,1.319,1.440

### Exercise: Sorting

Use `sort_values` to sort momentum by the column `mom_10`. Verify that the
sort was successful by looking at the minimum of a diff.

In [16]:
mom_sorted = momentum.sort_values("mom_10")
mom_sorted.head()

,mom_01,mom_02,mom_03,mom_04,mom_05,mom_06,mom_07,mom_08,mom_09,mom_10
date,,,,,,,,,,
2017-05-17,-1.83,-1.02,-1.12,-1.42,-1.21,-1.74,-2.49,-2.55,-3.08,-4.30
2017-03-21,-1.68,-0.69,-0.58,-0.89,-1.32,-1.14,-1.66,-2.21,-2.91,-4.03
2016-02-05,-2.49,-2.40,-1.52,-1.77,-1.77,-0.93,-1.47,-1.62,-2.04,-3.91
2016-01-13,-4.88,-3.06,-2.70,-2.00,-2.34,-2.18,-2.44,-2.77,-2.65,-3.71
2016-09-09,-3.09,-2.88,-1.88,-2.28,-2.05,-2.39,-2.47,-2.54,-2.71,-3.06

In [17]:
# Must be weakly larger than 0 if sorted descending
mom_sorted.diff().min()

mom_01   -8.09
mom_02   -6.92
mom_03   -6.04
mom_04   -5.04
mom_05   -5.41
mom_06   -5.33
mom_07   -3.43
mom_08   -2.54
mom_09   -2.78
mom_10    0.00
dtype: float64

### Exercise: Sort Descending

Use `sort_values` to sort momentum by by the column `mom_10` using a descending
sort (see the help for `sort_values`). Verify the sort worked by looking at the maximum of
a diff.

In [18]:
momentum.sort_values?

In [19]:
help(momentum.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last') method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
            by : str or list of str
                Name or list of names to sort by.

                - if `axis` is 0 or `'index'` then `by` may contain index
                  levels and/or column labels
                - if `axis` is 1 or `'columns'` then `by` may contain column
                  levels and/or index labels

                .. versionchanged:: 0.23.0
                   Allow specifying index or column level names.
    axis : {0 or 'index', 1 or 'columns'}, default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort'}, default 'quicksort'
         Choice of sorting algorithm. See also ndarray.np.sort for more
         information.  `mergesort` is the only stable algorithm. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.

    Returns
    -------
    sorted_obj : DataFrame or None
        DataFrame with sorted values if inplace=False, None otherwise.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ... })
    >>> df
        col1 col2 col3
    0   A    2    0
    1   A    1    1
    2   B    9    9
    3   NaN  8    4
    4   D    7    2
    5   C    4    3

    Sort by col1

    >>> df.sort_values(by=['col1'])
        col1 col2 col3
    0   A    2    0
    1   A    1    1
    2   B    9    9
    5   C    4    3
    4   D    7    2
    3   NaN  8    4

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
        col1 col2 col3
    1   A    1    1
    0   A    2    0
    2   B    9    9
    5   C    4    3
    4   D    7    2
    3   NaN  8    4

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
        col1 col2 col3
    4   D    7    2
    5   C    4    3
    2   B    9    9
    0   A    2    0
    1   A    1    1
    3   NaN  8    4

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
        col1 col2 col3
    3   NaN  8    4
    4   D    7    2
    5   C    4    3
    2   B    9    9
    0   A    2    0
    1   A    1    1

In [20]:
mom_sorted = momentum.sort_values("mom_10", ascending=False)
mom_sorted.tail()

,mom_01,mom_02,mom_03,mom_04,mom_05,mom_06,mom_07,mom_08,mom_09,mom_10
date,,,,,,,,,,
2016-09-09,-3.09,-2.88,-1.88,-2.28,-2.05,-2.39,-2.47,-2.54,-2.71,-3.06
2016-01-13,-4.88,-3.06,-2.70,-2.00,-2.34,-2.18,-2.44,-2.77,-2.65,-3.71
2016-02-05,-2.49,-2.40,-1.52,-1.77,-1.77,-0.93,-1.47,-1.62,-2.04,-3.91
2017-03-21,-1.68,-0.69,-0.58,-0.89,-1.32,-1.14,-1.66,-2.21,-2.91,-4.03
2017-05-17,-1.83,-1.02,-1.12,-1.42,-1.21,-1.74,-2.49,-2.55,-3.08,-4.30

In [21]:
# Must be weakly smaller than 0
mom_sorted.diff().max()

mom_01    8.08
mom_02    6.92
mom_03    6.04
mom_04    5.04
mom_05    5.41
mom_06    5.33
mom_07    3.43
mom_08    2.54
mom_09    2.78
mom_10    0.00
dtype: float64

### Exercise: Get Number of Elements

Use the `shape` property to get the number of observations in momentum. Use it
again to get the number of columns.

In [22]:
nobs = momentum.shape[0]
nobs

503

In [23]:
ncol = momentum.shape[1]
ncol

10

### Exercise: Use `shift` to Compute Returns

Compute the percentage change using only `shift`, division (`/`) and
subtraction (`-`) on the `Series` `mom_10`. Verify that your result matches what `pct_change` produces.

In [24]:
with_shift = mom_10 / mom_10.shift(1) - 1
with_shift = with_shift.dropna()
mom_10_ret = mom_10.pct_change().dropna()

mom_10_ret - with_shift

date
2016-01-05    0.0
2016-01-06    0.0
2016-01-07    0.0
2016-01-08    0.0
2016-01-11    0.0
             ...
2017-12-22    0.0
2017-12-26    0.0
2017-12-27    0.0
2017-12-28    0.0
2017-12-29    0.0
Name: mom_10, Length: 502, dtype: float64